<!DOCTYPE html>
<html lang="en">
    <head>
        <title>__TITLE__</title>
        <base href="/" />
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <link rel="icon" icon="image/x-icon" href="favicon.ico" />
    </head>
    <body>
        <p><strong>project:</strong> __TITLE__</p>
        <p><strong>version:</strong> <%= __VERSION__%></p>
        <p><strong>environment:</strong> <%= __NODE_ENV__%></p>
        <div id="app"></div>
    </body>
</html>
